/*body*/
body {
    background: #f2e5da;
}

/* formatting of links */

p, a {
    color: #e8d3c5;
    font-family: courier;
    font-size: 15px;
    border: 1px solid transparent;
    padding:10px;
}

a {
    color: brown;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: brown;
    font-weight: bold;
    font-family: courier;
    overflow: hidden;
    white-space: nowrap;
}

li {
    color: #5e2800;
    font-family: courier;
    font-size: 13px;
}

.nav {
    color: brown;
    font-family: courier;
    font-size: 20px;
    overflow: hidden;
    background:#f2e5da;
    display: inline-block;
}

/* search bar */

#searchbar {
    float: right;
    padding: 6px;
    background: #fff6f0;
    border: 1px solid transparent;
    border-radius: 10px;
    display: block;
    font-family:courier;
    color: #ded3cc;
}

/* dropdown */
.dropdown {
    white-space: nowrap;
    display: inline-block;    
}

.dropdown .dropbtn {
  font-family: courier;    
  font-size: 20px;
  border: none;
  outline: none;
  margin: 0;
  color: brown;
  padding: 10px;
  background: #f2e5da;    
  display: inline-block;
}

.dropdown .dropbtn:hover {
    font-weight: bold;
    white-space: nowrap;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background: #e8d6c8;  
  font-size:15px;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #dbc8b8;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}
