/*body*/
body {
    background: #f2e5da;
}


/*texts*/
p, a {
    color: #5e2800;
    font-family: courier;
    font-size: 15px;
}

a {
    color: brown;
    text-decoration: none;
}

li {
    color: #5e2800;
    font-family: courier;
    font-size: 13px;
}

/*search bar*/
.topnav input[type="text"] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 10px;
}

/**NAVIGATION**/
.nav {
    color: brown;
    font-family: courier;
    font-size: 15px;
    overflow: hidden;
}
/*drop down*/

.dropdown {
  overflow: hidden;
  white-space: nowrap;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
