/*body*/
body {
    background: #f2e5da;
}

/*texts*/
p {
    color: #5e2800;
    font-family: courier;
    font-size: 15px;
}
li {
    color: #5e2800;
    font-family: courier;
    font-size: 13px;
}

/*search bar*/
.topnav input[type="text"] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: 1x solid transparent;
    border-radius: 10px;
    font-size: 10px;
    background: #f0e9e6;
}

/**NAVIGATION**/
/*drop down*/
